@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --sidebar: var(--color-txly-background);
  --sidebar-foreground: var(--color-txly-foreground);
  --sidebar-primary: var(--color-txly-primary);
  --sidebar-primary-foreground: var(--color-txly-primary-foreground);
  --sidebar-accent: var(--color-txly-accent);
  --sidebar-accent-foreground: var(--color-txly-accent-foreground);
  --sidebar-border: var(--color-txly-border);
  --sidebar-ring: var(--color-txly-border-primary);

  --color-txly-foreground: var(--txly-foreground);
  --color-txly-background: var(--txly-background);
  --color-txly-accent: var(--txly-accent);
  --color-txly-accent-foreground: var(--txly-accent-foreground);
  --color-txly-primary: var(--txly-primary);
  --color-txly-primary-foreground: var(--txly-primary-foreground);
  --color-txly-border: var(--txly-border);
  --color-txly-border-primary: var(--txly-border-primary);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(37.8% 0.077 168.94);
  --accent-foreground: oklch(95% 0.052 163.051);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0   --sidebar: oklch(26.2% 0.051 172.552);
  --sidebar-foreground: oklch(95% 0.052 163.051);
  --sidebar-primary: oklch(87.1% 0.15 154.449);
  --sidebar-primary-foreground: oklch(87.1% 0.15 154.449);
  --sidebar-accent: oklch(37.8% 0.077 168.94);
  --sidebar-accent-foreground: oklch(87.1% 0.15 154.449);
  --sidebar-border: oklch(97.9% 0.021 166.113);
  --sidebar-ring: oklch(59.6% 0.145 163.225);

  --txly-foreground: oklch(95% 0.052 163.051);
  --txly-background: oklch(18.406% 0.07553 29.223);
  --txly-accent: oklch(37.8% 0.077 168.94);
  --txly-accent-foreground: oklch(87.1% 0.15 154.449);
  --txly-primary: oklch(50.8% 0.118 165.612);
  --txly-primary-foreground: oklch(87.1% 0.15 154.449);
  --txly-border: oklch(97.9% 0.021 166.113);
  --txly-border-primary: oklch(59.6% 0.145 163.225);0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  /* TXLY CSS Variables */
  --txly-foreground: var(--color-emerald-100);
  --txly-background: var(--color-emerald-950);
  --txly-accent: var(--color-emerald-900);
  --txly-accent-foreground: var(--color-emerald-300);
  --txly-primary: var(--color-emerald-700);
  --txly-primary-foreground: var(--color-emerald-300);
  --txly-border: var(--color-emerald-100);
  --txly-border-primary:  var(--color-emerald-600);
}

[data-theme="lush-green"] {
  --txly-foreground: var(--color-emerald-100);
  --txly-background: var(--color-emerald-950);
  --txly-accent: var(--color-emerald-900);
  --txly-accent-foreground: var(--color-emerald-300);
  --txly-primary: var(--color-emerald-700);
  --txly-primary-foreground: var(--color-emerald-300);
  --txly-border: var(--color-emerald-100);
  --txly-border-primary:  var(--color-emerald-600);
}

[data-theme="purple"] {
  --txly-foreground: var(--color-purple-100);
  --txly-background: var(--color-purple-950);
  --txly-accent: var(--color-purple-900);
  --txly-accent-foreground: var(--color-purple-300);
  --txly-primary: var(--color-purple-700);
  --txly-primary-foreground: var(--color-purple-300);
  --txly-border: var(--color-purple-100);
  --txly-border-primary:  var(--color-purple-600);
}

[data-theme="blue"] {
  --txly-foreground: var(--color-blue-100);
  --txly-background: var(--color-blue-950);
  --txly-accent: var(--color-blue-900);
  --txly-accent-foreground: var(--color-blue-300);
  --txly-primary: var(--color-blue-700);
  --txly-primary-foreground: var(--color-blue-300);
  --txly-border: var(--color-blue-100);
  --txly-border-primary:  var(--color-blue-600);
}

[data-theme="salt-white"] {
  --txly-foreground: var(--color-mist-100);
  --txly-background: var(--color-mist-950);
  --txly-accent: var(--color-mist-900);
  --txly-accent-foreground: var(--color-mist-300);
  --txly-primary: var(--color-mist-700);
  --txly-primary-foreground: var(--color-mist-300);
  --txly-border: var(--color-mist-100);
  --txly-border-primary:  var(--color-mist-600);
}

[data-theme="midnight"] {
  --txly-foreground: var(--color-slate-100);
  --txly-background: var(--color-slate-950);
  --txly-accent: var(--color-slate-900);
  --txly-accent-foreground: var(--color-slate-300);
  --txly-primary: var(--color-slate-700);
  --txly-primary-foreground: var(--color-slate-300);
  --txly-border: var(--color-slate-100);
  --txly-border-primary:  var(--color-slate-600);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}